{% extends 'main/shablon.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="mainpage-quote">
        <div id="member1">Неграмотными людьми 21 века будут не те, кто не умеет читать и писать, а те, кто не умеет учиться и переучиваться.</div>
        <div id="member2">Алвин Тоффлер</div>
    </div>
    <script>
        var a=Math.round(Math.random()*4)
        txt = new Array();
        txt[0]=["Неграмотными людьми 21 века будут не те, кто не умеет читать и писать, а те, кто не умеет учиться и переучиваться.", "Алвин Тоффлер"]
        txt[1]=["За один день вы можете преподать студенту урок, но если вы воспитаете в нём любознательность и любопытство, то он будет продолжать учиться всю свою жизнь.", "Клэй П. Бедфорд"]
        txt[2]=["Сейчас мы можем сказать, что учиться - это непрекращаемый процесс, когда ты держишься рядом с изменениями. И самое сложное задание - это научить людей учиться.", "Питер Друкер"]
        txt[3]=["Главная цель обучения - научить думать, а не научить думать каким-то особым образом. Лучше развивать свой собственный разум и учиться думать самим, чем загружать в свою память множество мыслей других людей.", "Джон Дьюэй"]
        txt[4]=["Есть три метода обучения мудрости. Первый - через подражание, и он самый благородный. Второй - через повторение, и он самый простой. Третий - через опыт, и он самый горький.", "Конфуций"]
        txt[5]=["Любой, кто перестает учиться, стареет, и не важно, сколько ему лет: двадцать или восемьдесят. Любой, кто продолжает учиться, остается молодым. Самая великая вещь в жизни - это сохранять свой разум молодым.", "Генри Форд"]
        txt[6]=["Умные люди перестают учиться... потому что они слишком многое вложили, чтобы уверить всех в том, что они знают всё, и теперь не могут себе позволить выглядеть незнающими.", "Крис Аджирис"]
        txt[6]=["Человек, который слишком много читает и слишком мало использует свой мозг, заканчивает ленивой привычкой слишком много думать.", "Альберт Эйнштейн"]
        txt[6]=["Я знаю большое количество людей, которые наполнены знаниями, но не имеют ни одной своей мысли.", "Уилсон Мизнер"]
        txt[6]=["Заполнить свой разум миллионов разных фактов, но при этом ничему не научиться вполне возможно.", "Алек Борн"]
        txt[6]=["Чтение само по себе лишь дает материал для знания, но именно процесс размышления дает нам возможность усвоить эти знания.", "Джон Лок"]
        txt[6]=["Я никогда не учу своих учеников. Я только даю им условия, при которых они могут сами учиться.", "Альберт Эйнштейн"]
        txt[6]=["Если держать кошку за хвост, то можно узнать много нового, что вы бы не смогли узнать при других условиях.", "Марк Твен"]
        document.getElementById("member1").innerHTML = txt[a][0];
        document.getElementById("member2").innerHTML = txt[a][1];
    </script>
{% endblock %}



<!--    <span class="mainpage-idea">-->
<!--        <h1>Регистрируйся</h1>-->
<!--    </span>-->
<!--    <span class="mainpage-idea">-->
<!--        <h1>Создай тест</h1>-->
<!--    </span>-->
<!--    <span class="mainpage-idea">-->
<!--        <h1>Пройди тест</h1>-->
<!--    </span>-->